<div class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <!-- Card 1 -->
                <div class="card bg-dark text-light">
                    <!-- Card 1 Body -->
                    <div class="card-body">
                        <!-- Icon -->
                        <i class="bi bi-laptop h1"></i>
                        <!-- Title -->
                        <h3 class="card-title">Virtual</h3>
                        <!-- Text -->
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum aliquam vel autem illum corporis quibusdam.
                        </p>
                        <!-- Action Button -->
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <!-- Card 2 -->
                <div class="card bg-secondary text-light">
                    <!-- Card 2 Body -->
                    <div class="card-body">
                        <!-- Icon -->
                        <i class="bi bi-person-square h1"></i>
                        <!-- Title -->
                        <h3 class="card-title">Hybrid</h3>
                        <!-- Text -->
                        <p class="card-text">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus placeat odio laudantium magni veniam ut?
                        </p>
                        <!-- Action Button -->
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <!-- Card 3 -->
                <div class="card bg-dark text-light">
                    <!-- Card 3 Body -->
                    <div class="card-body">
                        <!-- Icon -->
                        <i class="bi bi-people h1"></i>
                        <!-- Title -->
                        <h3 class="card-title">In Person</h3>
                        <!-- Text -->
                        <p class="card-text">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio dolorum unde debitis necessitatibus vero impedit.
                        </p>
                        <!-- Action Button -->
                        <button class="btn btn-primary">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>