<div class="p-5 bg-primary" id="people">
    <div class="container">
        <h2 class="text-center text-light mb-4">Our People</h2>
        <div class="row g-4">
            
            <!-- First Card -->
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3">
                        <h3 class="card-title">Jon Doe</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius molestias molestiae rem nihil eligendi nam?</p>
                        <a routerLink=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- Second Card -->
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3">
                        <h3 class="card-title">Jane Doe</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ex nihil fuga, velit quibusdam doloremque.</p>
                        <a routerLink=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- Third Card -->
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/men/12.jpg" class="rounded-circle mb-3">
                        <h3 class="card-title">Steve Smith</h3>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum possimus maxime earum, facilis inventore.</p>
                        <a routerLink=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>

            <!-- Forth Card -->
            <div class="col-md-6 col-lg-3">
                <div class="card bg-light">
                    <div class="card-body text-center">
                        <img src="https://randomuser.me/api/portraits/women/12.jpg" class="rounded-circle mb-3">
                        <h3 class="card-title">Sarah Smith</h3>
                        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero quas eaque soluta pariatur labore odit!</p>
                        <a routerLink=""><i class="bi bi-twitter text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-facebook text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-linkedin text-dark mx-1"></i></a>
                        <a routerLink=""><i class="bi bi-instagram text-dark mx-1"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>