<div class="p-5">
    <div class="container">
        <div class="row justify-content-between align-items-center g-5">
            <div class="col-md">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span class="fw-bold">Main Location:</span> 50 Main st Boston MA
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Phone:</span> (555) 555-5555
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Student Phone:</span> (333) 333-3333
                    </li>
                    <li class="list-group-item">
                        <span class="fw-bold">Enrollment Email:</span> enroll@frontendbc.test
                    </li>
                </ul>
            </div>
            <div class="col-md">
                <div class="map-box">
                    <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=79.03856277465822%2C21.17284691223517%2C79.09186363220216%2C21.20149727269569&amp;layer=mapnik&amp;marker=21.187172786610528%2C79.06521320343018" style="border: 1px solid black">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>