<div id="questions" class="p-5">
    <div class="container">
        <div class="mb-5">
            <h2 class="text-center">Frequently Asked Questions</h2>

            <!-- Make Accordian -->
            <div class="accordion accordion-flush">
                
                <!-- Accordian Item Question 1 -->
                <div class="accordion-item">
                    <!-- Accordian Item Heading -->
                    <h2 class="accordion-header">
                        <!-- Heading need to have a button to render text --> 
                        <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#faqs-question1">
                            Who are we?
                        </button>
                    </h2>

                    <!-- According collapsed Data -->
                    <div class="accordion-collapse collapse" id="faqs-question1">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti debitis facilis unde mollitia a quis soluta porro aspernatur nesciunt.</div>
                    </div>
                </div>

                <!-- Accordian Item Question 2 -->
                <div class="accordion-item">
                    <!-- Accordian Item Heading -->
                    <h2 class="accordion-header">
                        <!-- Heading need to have a button to render text --> 
                        <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#faqs-question2">
                            What we do?
                        </button>
                    </h2>

                    <!-- According collapsed Data -->
                    <div class="accordion-collapse collapse" id="faqs-question2">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti debitis facilis unde mollitia a quis soluta porro aspernatur nesciunt.</div>
                    </div>
                </div>

                <!-- Accordian Item Question 3 -->
                <div class="accordion-item">
                    <!-- Accordian Item Heading -->
                    <h2 class="accordion-header">
                        <!-- Heading need to have a button to render text --> 
                        <button class="accordion-button collapsed"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#faqs-question3">
                            Where are we located?
                        </button>
                    </h2>

                    <!-- According collapsed Data -->
                    <div class="accordion-collapse collapse" id="faqs-question3">
                        <div class="accordion-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id deleniti debitis facilis unde mollitia a quis soluta porro aspernatur nesciunt.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>