<!-- Showcase -->
<div class="bg-dark text-center p-5 p-lg-0 pt-lg-5 text-light text-sm-start">
    <!-- Container -->
    <div class="container">
        <!-- Display Flex for for 2 items in a row -->
        <div class="d-sm-flex align-items-center justify-content-between g-1">
            <!-- First Item of Flex Box -->
            <div>
                <!-- Heading -->
                <h1>
                    Become a <span class="text-warning"> Web Developer</span>
                </h1>
                <!-- Text -->
                <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Odit nulla veritatis aliquam pariatur totam blanditiis.</p>
                <!-- Enrolment Button -->
                <button class="btn btn-primary">Start Enrollment</button>
            </div>
            <!-- Second element of Flex is Image -->
            <img class="img-fluid w-50 d-none d-sm-block" src="assets/images/showcase.svg" alt="">
        </div>
    </div>
</div>