<!-- Newsletter Subscription -->
<div class="bg-primary text-white p-3">
    <div class="container">
        <!-- Flex Box -->
        <div class="d-md-flex justify-content-between align-items-center">
            <!-- Text for Newsletter -->
            <h3 class="mb-3 mb-md-0">
                Sign Up for Newsletter
            </h3>

            <!-- Input group for Newsletter -->
            <div class="input-group newsletter-inp-group">
                <input type="text" name="email" class="form-control" placeholder="Enter Email">
                <button class="btn btn-dark btn-lg">Sign Up</button>
            </div>
        </div>
    </div>
</div>